  <div class="container-fluid mt-6">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">

            <div class="card border-0">
              <section class="pt-5 pb-5">
                  <div class="container">
                    <div class="form-group" style="width: 55%; border-radius: 20px;">
                      <label for="card1Input">Input for Card 1:</label>
                      <input type="text" id="card1Input" class="form-control" placeholder="Enter text for Card 1">
                    </div>
                    <div class="row">
                      <div class="col-6">
              
                        <h3 class="mb-3">Carousel cards title</h3>
                      </div>
                      <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                          <i class="pi pi-angle-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                          <i class="pi pi-angle-right"></i>
                        </a>
                      </div>
                      <div class="col-12">
                          <div class="card-carousel">
                            <div class="card-row card-container" #cardRow>
                              <div *ngFor="let card of cardsData; let i = index" class="card" [class.selected]="isSelected(i)" (click)="toggleSelection(i)">
                                <img [src]="card.imageUrl" alt="{{ card.title }}">
                                <div class="card-body">
                                  <div class="text-center text-bold">{{ card.title }}</div>
                                </div>
                              </div>            
                            </div>  
                          </div>       
                        </div>
                    </div>
                    <div class="row">
                      <ng-container *ngFor="let card of cardsData; let i = index" >
                        <div class="col-sm-6">
                          <div class="card" cdkDrag>
                            <div class="card-body">
                              <h5 class="card-title">{{ card.title }} <button type="button" class="close" aria-label="Close" (click)="removeCard(i)">
                                <span aria-hidden="true">&times;</span>
                              </button></h5>
                              <p>{{ card.description }}</p>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
                      </ng-container>
                    </div>
                  </div>
                </section>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <h3 class="card-header">Card 2 Title</h3>
          <div class="card-body">
            <div class="col-sm-6" cdkDropList >
            
                  <h5 class="card-title">Drop Zone</h5>
                  <p class="card-text">Drag cards here</p>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  