<main class="bg-color mt-5">
  <div class="d-flex flex-wrap">
    <div class="">
      <img
        src="../../../assets/images/image 15.png"
        alt="Image not preview"
        class="img"
      />
    </div>

    <div
      class="d-flex flex-column justify-content-between container col-xxl-7 px-4 py-5"
    >
      <h3 class="h3-f-t col-xl-7">
        Make Sure you want to login as <span class="h3-title">Customer</span> or
        <span class="h3-title">Business</span>
      </h3>
      <p class="lead paragraph-desc col-xl-7">
        Lorem ipsum dolor sit amet, eiusmod consectetur adipiscing elit, sed
        eiusm tempor incididunt ut labore.
      </p>
      <div class="d-flex gap-3">
        <button
          (click)="selectCustomer()"
          class="d-flex flex-column justify-content-center align-items-center radio-btn"
        >
          <img
            src="../../../assets/auth-icon/avatar.png"
            alt="image not preview"
            class="radio-icon"
          />
          <span class="span">Customer</span>
        </button>
        <button
          (click)="selectBusiness()"
          class="d-flex flex-column justify-content-center align-items-center radio-btn"
        >
          <img
            src="../../../assets/auth-icon/home.png"
            alt="image not preview"
            class="radio-icon"
          />
          <span class="span">Business</span>
        </button>
      </div>
    </div>
  </div>
</main>
