  .card-carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .card-row {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
    overflow: visible;
  }
  .carousel-buttons {
    margin-top: 10px; 
  }
  
  .carousel-buttons button {
    margin-right: 10px; 
  }
  .btn-button{
    border: 1px solid #dddddd;
    background-color: #ffffff;
    color: #dddddd;
    padding: 6px 10px;
    border-radius: 8px;
  }

.carousel-buttons {
  margin-top: 10px;
}

.carousel-buttons button {
  margin-right: 10px;
}

.card-title {
  color: black;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.card-body {
  color: grey;
  padding: 39px, 32px, 39px, 24px;
  font-size: 13px;
}
.card-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;

  z-index: 999;
}

.card-text {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
::ng-deep .p-button-secondary {
    border-radius: 6px; 
    color: rgb(186, 180, 180);
    background: white !important;
    height: 26px !important;
    width:30px;
  }

.custom-button {
    border: none;
    background-color: #1814F3;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
   
  }
  .sort-button{
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    color: #DDDDDD;
    padding: 12px 16px;
    border-radius: 8px; 
  }
  .card-img-top{
    margin-top:15px;
    width:94%;
    height: 60%;
   margin-left: 15px;
    border-radius: 20px;;
  }
.card-img {
  width: 20px;
  height: 30px;
}

.image-container {
  flex: 1;
}

.text-container {
  flex: 2;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
}

.card {
  width: calc(74% - 12px);
}

.card p-card {
  padding: 0; 
  border: none;
  box-shadow: 20px;
}

.card p-card .card-img {
  display: block;
  width: 100%;
  height: auto;
}
.title{
  font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: -0.02em;
text-align: center;

}

.card.selected {
  border: 2px solid blue; 
}
.carousel-inner > .item {
  width: 233px;
  height: 183px;
}