main {
  background-image: url("../../../../assets/images/image\ 14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 40px;
}

.booking-container {
  margin-top: 9rem !important;
}

.p-marriage-title {
  font-size: 38px;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  margin-bottom: 15px !important;
}

.calendar-booking {
  width: 500px;
  height: 250px;
}

.marriage-title {
  color: #fb6f10;
  font-size: 38px;
  font-weight: 700 !important;
}

.m-description {
  color: #777777;
  padding-bottom: 20px !important;
  line-height: 1.5;
}

.state-btn {
  border-radius: 4px;
  border: none !important;
  border-bottom: 3px solid #c2c1c1 !important;
  background-color: transparent !important;
  color: #c2c1c1;
  font-weight: bold;
  padding: 0px 5px;
}

.state-btn:hover {
  border-radius: 4px;
  border: none !important;
  border-bottom: 3px solid #fb6f10 !important;
  background-color: transparent !important;
  color: #000000;
  font-weight: bold;
  padding: 0px 5px;
}

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star-rating .fa-star {
  color: orange;
}
.view-btn {
  border: 1px solid #fb6f10;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: transparent;
}

.view-btn:hover {
  background-color: #fb6f10;
  color: #fff;
}

.view-btn-active {
  background-color: #fb6f10;
  color: #fff;
}

.flower-bottom {
  float: right;
}

.bg-image {
  background-image: url("../../../../assets/images/andre-benz-276974-unsplash-1\ 1.png");
  //   background-image: url("../../../assets/images/bg-image.png"),
  //     linear-gradient(45deg, white, transparent, white);
  background-size: cover;
  background-position: center;
}

.bg-image-color {
  background-image: linear-gradient(
    180deg,
    rgb(45 45 45 / 50%),
    rgb(0 0 0 / 68%),
    rgb(0 0 0 / 98%)
  );
}

.men-image {
  width: 400px;
  margin-bottom: -60px;
}

.para-desc {
  padding: 10px;
  padding-right: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  background-color: rgba(
    119,
    119,
    119,
    0.55
  ); /* Adjust the opacity as needed */
}

.name-title {
  color: #fb6f10;
}

.f-size {
  font-size: 18px;
  font-weight: 400 !important;
}

.card-container {
  margin-top: 5rem !important;
  margin-bottom: 8rem !important;
}

.article {
  padding-top: 7rem !important;
  padding-bottom: 8rem !important;
}

.col-xl-6 {
  padding: 0% !important;
}

.testimonials-title {
  font-size: 20px;
}

.story-title {
  font-size: 30px !important;
  font-family: "Poppins";
}

@media (max-width: 1200px) {
  .para-desc {
    border-radius: 10px !important;
  }
}
