<footer class="site-footer bg-transparent">
  <div class="container">
    <div class="row mb-5">
      <div
        class="d-flex justify-content-between align-items-baseline gap-2 primary-container"
      >
        <div class="col-xl-4">
          <h6 class="fw-bold text-black h6-f-t">
            <img
              src="../../../../assets/images/favicon.png"
              alt="Image not preview"
              class="fav-icon"
            />Hall Management System
          </h6>
          <p class="text-break">
            Whether you're a fan of dreamy white weddings or care-free bohemian
            celebrations, you'll find tips, tricks, and inspiration to guide you
            through every.
          </p>

          <div class="d-flex gap-4 icon-container" data-aos="flip-down">
            <img
              src="../../../../assets/icons/facebook.png"
              alt="Image not preview"
              class="img"
            />
            <img
              src="../../../../assets/icons/whatsapp.png"
              alt="Image not preview"
              class="img"
            />
            <img
              src="../../../../assets/icons/instagram.png"
              alt="Image not preview"
              class="img"
            />
            <img
              src="../../../../assets/icons/skype.png"
              alt="Image not preview"
              class="img"
            />
            <img
              src="../../../../assets/icons/youtube.png"
              alt="Image not preview"
              class="img"
            />
          </div>
        </div>

        <div class="col-xl-1">
          <h6 class="fw-bold text-black text-center">Product</h6>
          <ul class="footer-links">
            <li class="text-black fw-bold"><a href="#">Features</a></li>
            <li>
              <a href="#">Solutions</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Tutorials</a>
            </li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>

        <div class="col-xl-1">
          <h6 class="fw-bold text-black text-center">Remaining</h6>
          <ul class="footer-links">
            <li class="text-nowrap"><a href="#">Blog</a></li>
            <li class="text-nowrap">
              <a href="#">Newsletter</a>
            </li>
            <li class="text-nowrap">
              <a href="#">Help Center</a>
            </li>
            <li class="text-nowrap">
              <a href="#">Careers</a>
            </li>
            <li class="text-nowrap"><a href="#">Support</a></li>
          </ul>
        </div>

        <div class="col-xl-1">
          <h6 class="fw-bold text-black text-center text-nowrap">
            My Accounts
          </h6>
          <ul class="footer-links">
            <li class="text-nowrap"><a href="#">My Account</a></li>
            <li class="text-nowrap"><a href="#">Order History</a></li>
            <li class="text-nowrap">
              <a href="#">Shoping Cart</a>
            </li>
            <li class="text-nowrap">
              <a href="#">Wishlist</a>
            </li>
          </ul>
        </div>

        <div class="col-xl-3">
          <h6 class="fw-bold text-black text-nowrap">
            SIGN UP FOR OUR NEWSLETTER
          </h6>
          <ul class="footer-links">
            <li class="received-title">
              Receive our latest updates about our products and promotions.
            </li>

            <li>
              <div class="input-container bg-light d-flex">
                <input
                  type="text"
                  placeholder="Your Email Address"
                  class="p-2 input-text"
                  [formControl]="userEmail"
                />
                <button class="subs-btn p-3" (click)="subscribeEmail()">
                  Subscribe
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center align-items-center row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright <span class="text-black fw-bold">&copy;</span> 2017 All
          Rights Reserved by <a href="#">HMS</a>.
        </p>
      </div>

      <div
        class="col-md-4 col-sm-6 col-xs-12 d-flex flex-nowrap justify-content-center gap-3"
        data-aos="flip-left"
      >
        <i class="fa fa-cc-visa"></i>
        <i class="fa fa-cc-amex"></i>
        <i class="fa fa-cc-mastercard"></i>
        <i class="fa fa-cc-discover"></i>
      </div>
    </div>
  </div>
</footer>
