<div class="d-flex align-items-center" style="margin-top: 100px">
  <h1
    class="text-black flex-grow-1 mb-0"
    style="
      font-size: 18px;
      font-weight: 700;
      color: black;
      font-family: Plus Jakarta Sans;
    "
  >
    All Hall
  </h1>
  <div class="ml-auto">
    <button
      class="custom-button"
      style="background-color: blue; font-size: 16px"
      (click)="navigateToAddHall()"
    >
      Add Halls
    </button>
  </div>
</div>
<div class="d-flex align-items-center mt-5 mx-2">
  <div class="ml-auto">
    <button class="mx-2 sort-button" type="button">
      <i class="pi pi-search"></i>
    </button>
    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-bars"> Sort All</i>
    </button>

    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-sliders"> Filter</i>
    </button>
  </div>
</div>
<div class="card-container" style="margin-top: 30px">
  <div class="card" *ngFor="let data of cardData" (click)="navigateToDetail(data)">
    <p-card>
      <ng-template pTemplate="header">
        <img [src]="data.imageUrl" class="card-img" alt="..." />
      </ng-template>
      <div class="d-flex align-items-center text-black">
        <h5 class="card-location flex-grow-1 mb-0">All Halls</h5>
        <span>
          <h5 class="card-location flex-grow-1 mb-0">
            <span style="color: grey">Price</span> {{ data.price }}
          </h5>
        </span>
      </div>

      <p class="m-0">{{ data.description }}</p>
      <div class="d-flex align-items-center text-black">
        <h5 class="card-location flex-grow-1 mb-0">
          <i class="fas fa-map-marker-alt"></i>{{ data.location }}
        </h5>
        <span>
          <h5 class="card-location flex-grow-1 mb-0">
            <i class="fas fa-university"></i>{{ data.hall }}
          </h5>
        </span>
      </div>
    </p-card>
  </div>
</div>
<div class="card flex justify-content-end mt-5">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="120"
  ></p-paginator>
</div>
