.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: block;
  width: 100%;
  height: auto;
}
::ng-deep .p-button-secondary {
  border-radius: 6px;
  color: rgb(186, 180, 180);
  background: white !important;
  height: 33px !important;
  width: 30px;
}

.custom-button {
  border: none;
  background-color: #1814f3;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
}
.sort-button {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #dddddd;

  padding: 12px 16px;
  border-radius: 8px;
}
.card-img{
  height:20% !important;
  width:100%;
}
.card-text{
  //styleName: Regular/Type@14;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.02em;
text-align: left;
color: #858585;
padding:5px;
}