<div class="d-flex align-items-center" style="margin-top: 100px">
  <h1
    class="text-black flex-grow-1 mb-0 fs-18 fw-700"
  >
    All Hall
  </h1>
  <div class="ml-auto">
    <button
      class="custom-button"
      style="background-color: blue; font-size: 16px"
      (click)="navigateToAddHall()"
    >
      Add Halls
    </button>
  </div>
</div>
<div class="d-flex align-items-center mt-5 mx-2">
  <div class="ml-auto">
    <button class="mx-2 sort-button" type="button">
      <i class="pi pi-search"></i>
    </button>
    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-bars"> Sort All</i>
    </button>

    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-sliders"> Filter</i>
    </button>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card-container">
        <div class="card mb-4" *ngFor="let data of cardData" (click)="navigateToDetail(data)">
          <div class="card-header p-0" >
            <img [src]="data.imageUrl" class="card-img" alt="..." />
          </div>
          <div class="card-body p-4">

            <div class="d-flex align-items-center">
              <h5 class="card-location flex-grow-1 mb-0">All Halls</h5>
              <span>
                <h5 class="card-location flex-grow-1 mb-0  ">
                <span class="text-secondary mx-2">Price: </span>   {{ data.price }}
                </h5>
              </span>
            </div>
            <p class="card-text">{{ data.description }}</p>
            <div class="d-flex align-items-center">
              <h5 class="card-location flex-grow-1 mb-0">
                <i class="fas fa-map-marker-alt"></i> {{ data.location }}
              </h5>
              <span>
                <h5 class="card-location flex-grow-1 mb-0">
                  <i class="fas fa-university"></i> {{ data.hall }}
                </h5>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-end mt-5">
  <!-- <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="120"
  ></p-paginator> -->
</div>
