.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  width: 100%;
}

.card p-card {
  padding: 0; /* Remove padding from p-card */
}

.card p-card .card-img {
  display: block;
  width: 100%;
  height: auto;
}
::ng-deep .p-button-secondary {
  border-radius: 6px;
  color: rgb(186, 180, 180);
  background: white !important;
  height: 33px !important;
  width: 30px;
}

.custom-button {
  border: none;
  background-color: #1814f3;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
}
.sort-button {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #dddddd;

  padding: 12px 16px;
  border-radius: 8px;
}
