<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
              <div class="col">
                <label for="branchName" class="br-name">Branch Name</label>
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <label for="branchId" class="br-id">Branch Id</label>
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
          </form>
      <div class="form-group">
        <div class="row">
          <div class="col">
        <label for="br-decription" class="br-decription">Branch Description</label>
        <textarea class="form-control" id="inputDescription" rows="6" [(ngModel)]="description"></textarea>
      </div>
      </div></div>
      <form>
        <div class="row">
          <div class="col">
            <label for="branchName" class="add-address">Add Address</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="branchId" class="parking-capacity">Parking Capacity</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      </form>
    </div>
  </div>
  