<div class="d-flex align-items-center category" style="margin-top: 100px">
  <h1
    class="text-black flex-grow-1 mb-0"
    style="
      font-size: 18px;
      font-weight: 700;
      color: black;
      font-family: Plus Jakarta Sans;
    "
  >
    Manage Deal
  </h1>
  <div class="ml-auto">
    <button
      class="custom-button"
      style="background-color: #fb6f10; font-size: 16px"
      (click)="navigateToAddDeal()"
    >
      Add Deal
    </button>
  </div>
</div>
<div class="d-flex align-items-center mt-5 mx-2">
  <div class="ml-auto">
    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-search"></i>
    </button>
    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-bars"> Sort All</i>
    </button>

    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-sliders"> Filter</i>
    </button>
  </div>
</div>
<div class="row d-flex justify-content-center" style="margin-top: 30px">
  <div
    class="mb-3 mb-sm-0"
    *ngFor="let category of cards"
    style="max-width: 720px"
  >
    <div class="card" style="margin-bottom: 20px">
      <div class="row no-gutters">
        <div class="image-container">
          <div
            id="carousel-example-generic"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <span
                class="indicator"
                *ngFor="let category of cards; let i = index"
                [class.active]="i === activeIndex"
                (click)="activeIndex = i"
              ></span>
            </ol>

            <div class="carousel-inner" role="listbox">
              <div
                class="item card-img"
                *ngFor="let category of cards; let i = index"
                [class.active]="i === activeIndex"
              >
                <img [src]="category.imageUrl" alt="..." />
              </div>
            </div>
          </div>
        </div>
        <div class="text-container">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title flex-grow-1 mb-0">{{ category.title }}</h5>
              <span>
                <!-- <inputSwitch [(ngModel)]="category.isChecked"></p-inputSwitch> -->
              </span>
            </div>
            <p class="card-text">{{ category.text }}</p>
            <h5 class="card-title flex-grow-1 mb-0">
              {{ category.dealTitle }}
            </h5>
            <p class="card-text">{{ category.dealText }}</p>
            <div class="d-flex align-items-center">
              <p class="text-grey flex-grow-1 mb-0">
                Standard Rate:
                <span
                  style="
                    color: orange;
                    font-weight: 600;
                    text-decoration: line-through;
                  "
                  >{{ category.standardRate }}</span
                >

                Discount Rate:
                <span style="color: #fb6f10; font-weight: 600">{{
                  category.discountRate
                }}</span>
              </p>
              <span>
                <div class="btn-group" role="group">
                  <button type="button" class="btn-button m-2">
                    <i class="fas fa-filter"></i>
                  </button>
                  <button type="button" class="btn-button m-2">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn-button m-2">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
