<div class="d-flex align-items-center category" style="margin-top: 100px">
  <h1
    class="text-black flex-grow-1 mb-0"
    style="
      font-size: 18px;
      font-weight: 700;
      color: black;
      font-family: Plus Jakarta Sans;
    "
  >
    All Branches
  </h1>
  <div class="ml-auto">
    <button
      class="custom-button"
      style="background-color: blue; font-size: 16px"
      (click)="navigateToAddBranch()"
    >
      Add Branch
    </button>
  </div>
</div>
<div class="d-flex align-items-center mt-5 mx-2">
  <div class="ml-auto">
    <button class="mx-2 sort-button" type="button">
      <i class="pi pi-search"></i>
    </button>
    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-bars"> Sort All</i>
    </button>

    <button class="mx-2 sort-button" type="button">
      <i class="fas fa-sliders"> Filter</i>
    </button>
  </div>
</div>
<div class="row" style="margin-top: 30px">
  <div class="col-sm-6 mb-3 mb-sm-0" *ngFor="let category of cards">
    <div class="card" style="margin-bottom: 20px">
      <div class="row no-gutters">
        <!-- Image Side -->
        <div class="image-container">
          <div
            id="carousel-example-generic"
            class="carousel slide"
            data-ride="carousel"
          >
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <span
                class="indicator"
                *ngFor="let category of cards; let i = index"
                [class.active]="i === activeIndex"
                (click)="activeIndex = i"
              ></span>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div
                class="item card-img"
                *ngFor="let category of cards; let i = index"
                [class.active]="i === activeIndex"
              >
                <img [src]="category.imageUrl" alt="..." />
              </div>
            </div>
          </div>
        </div>

        <!-- Text Side -->
        <div class="text-container">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title flex-grow-1 mb-0">{{ category.title }}</h5>
              <span>
                <p-inputSwitch [(ngModel)]="category.isChecked"></p-inputSwitch>
              </span>
            </div>
            <p class="card-text">{{ category.text }}</p>
            <div class="d-flex align-items-center">
              <p class="text-black flex-grow-1 mb-0">
                Item:
                <span style="color: blue; font-weight: 600">{{
                  category.item
                }}</span>
              </p>
              <span>
                <p-button
                  class="m-2"
                  icon="pi pi-filter"
                  severity="secondary"
                  [outlined]="true"
                ></p-button>
                <p-button
                  class="m-2"
                  icon="pi pi-trash"
                  severity="secondary"
                  [outlined]="true"
                ></p-button>
                <p-button
                  class="m-2"
                  icon="pi pi-eye"
                  severity="secondary"
                  [outlined]="true"
                ></p-button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
