.card-title {
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: capitalize;
}
.card-body {
  color: grey;
  padding: 39px, 32px, 39px, 24px;
  font-size: 13px;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 229px;
  height: 170px;
  border-radius: 14px;
  text-align: center;
  margin-top: 14px;
  margin-left: 5px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.69) 100%
  );
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.card-text {
  margin-top: 8px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #7b7b7b;
}
.card-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  height: 20%; /* Adjust the height of the shadow as needed */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40.71%,
    rgba(0, 0, 0, 0.84) 92.31%
  ); /* Adjust the opacity and direction of the shadow as needed */
}
.indicator.active {
  background-color: white;
}

.custom-button {
  border: none;
  background-color: #fb6f10;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  .fas {
    color: #e0e0e0;
  }
}
.sort-button {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #dddddd;
  padding: 8px 16px;
  border-radius: 8px;
}
.card {
  display: flex;
  width: calc(100% - 46px);
  // height: 196px;
}

.image-container {
  flex: 1;
}

.text-container {
  flex: 5;
}
.carousel-inner > .item {
  width: 233px;
  height: 183px;
}
.breadcrumb {
  font-size: 15px;
  margin-left: 3rem !important;
  text-decoration: none !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #fb6f10;
}
.form-switch .form-check-input {
  width: 4em !important;
  height: 3rem !important;
  color: #fb6f10;
}
.btn-button {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #dddddd;
  padding: 3px 7px;
  border-radius: 6px;
}
.form-check-input:checked {
  background-color: #fb6f10;
  border-color: #fb6f10;
}
.manage-category {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

.card-img {
  border-radius: 16px;
  height: 176px;
  width: 227px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.69) 100%
  );
}
.item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.86px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #555555;
}

// button
.btn-text-filter {
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}

.btn-text {
  // font-size: 16px;
  // color: #858585;
  //styleName: Medium/Type@14;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b1b1b1;
}

.span-text__color {
  padding-left: 8px;
  color: #fb6f10 !important;
}
.material-symbols-outlined {
  font-size: 20px !important;
}
.search-btn {
  padding: 4px 8px;
}
