<main>
  <img src="../../../assets/images/flower-top.png" alt="" class="float-top" />
  <div
    class="d-flex flex-column justify-content-center align-items-center booking-container"
  >
    <div class="p-marriage-title">
      Find the Best
      <span class="marriage-title">Marriage Halls and Marquees</span> in
      Pakistan
    </div>
    <div class="m-description">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    </div>
    <div class="d-flex gap-5">
      <button class="state-btn active-btn">Karachi</button>
      <button class="state-btn">Lahore</button>
      <button class="state-btn">Rawalpindi</button>
      <button class="state-btn">Islamabad</button>
    </div>
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Calendar Booking Container !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div class="d-flex justify-content-around mt-5 mb-4 gap-4 flex-wrap card-container">
      <app-calendar-carousel></app-calendar-carousel>
      <app-calendar-carousel></app-calendar-carousel>
    </div>
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <button class="view-btn m-3">View All</button>
  </div>
</main>

<div>
  <app-photographer-booking></app-photographer-booking>
</div>
<div>
  <app-decorator-booking></app-decorator-booking>
</div>
<div>
  <app-food-booking></app-food-booking>
</div>
