<main class="container">
  <div class="d-flex flex-wrap-reverse justify-content-between">
    <form class="col-xl-7 form-container" [formGroup]="bookingForm">
      <!-- Booking Detail -->
      <ng-container *ngIf="step === 1">
        <h3 class="h3-f-t">Booking Details</h3>
        <hr />
        <div class="d-flex justify-content-between flex-wrap">
          <div class="inputGroup d-flex flex-column">
            <label for="booking_name" class="label-name"> Booking Name</label>
            <input
              type="text"
              id="booking_name"
              class="booking_name"
              placeholder="Booking Name"
              formControlName="bookingName"
            />
          </div>
          <div class="d-flex flex-column">
            <label for="event_date" class="label-name">Event Date*</label>
            <input
              type="date"
              id="event_date"
              class="booking_name"
              formControlName="eventDate"
            />
          </div>
        </div>
        <div class="d-flex flex-column">
          <label for="event_time" class="label-name">Event Time</label>
          <div class="d-flex justify-content-between flex-wrap box-2">
            <div class="d-flex align-items-center">
              <img
                src="../../../../assets/images/sunset.png"
                alt="morning icon"
                class="sun-icon"
              />
              <input
                type="checkbox"
                id="morning"
                formControlName="morningTime"
              />
              <label for="morning" class="span label">Booked-Morning</label>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="../../../../assets/images/sun.png"
                alt="day icon"
                class="sun-icon"
              />
              <input type="checkbox" formControlName="eveningTime" id="day" />
              <label for="day" class="span label">Available-Day</label>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="../../../../assets/images/moon.png"
                alt="night icon"
                class="sun-icon night-icon"
              />
              <input type="checkbox" id="night" formControlName="nightTime" />
              <label for="night" class="span label">Available-Night</label>
            </div>
          </div>
        </div>
        <div class="btn-container">
          <hr />
          <div class="d-flex justify-content-end">
            <button (click)="nextStep()" class="view-btn view-btn-active">
              Next
            </button>
          </div>
        </div>
      </ng-container>

      <!-- Customer Detail -->
      <ng-container *ngIf="step === 2">
        <h3 class="h3-f-t">Customer Detail</h3>
        <hr />
        <div class="d-flex justify-content-between flex-wrap">
          <div class="inputGroup d-flex flex-column">
            <label for="customer_name" class="label-name"> Customer Name</label>
            <input
              type="text"
              id="customer_name"
              class="booking_name"
              placeholder="Enter Customer Name"
              formControlName="customerName"
            />
          </div>
          <div class="d-flex flex-column">
            <label for="email" class="label-name">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Enter Email Address"
              class="booking_name"
              formControlName="userEmail"
            />
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="inputGroup d-flex flex-column">
            <label for="address" class="label-name"> Address</label>
            <input
              type="text"
              id="address"
              class="booking_name"
              placeholder="Enter Address"
              formControlName="userAddress"
            />
          </div>
          <div class="d-flex flex-column">
            <label for="zip-code" class="label-name">Zip Code</label>
            <input
              type="text"
              placeholder="Enter Zip Code"
              id="zip-code"
              class="booking_name"
              formControlName="zipCode"
            />
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="inputGroup d-flex flex-column">
            <label for="city" class="label-name"> City</label>
            <input
              type="text"
              id="city"
              class="booking_name"
              placeholder="Enter City"
              formControlName="city"
            />
          </div>
          <div class="d-flex flex-column">
            <label for="contact-no" class="label-name">Contact No</label>
            <input
              type="text"
              id="contact-no"
              placeholder="Enter Contact No"
              class="booking_name"
              formControlName="contactNo"
            />
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="inputGroup d-flex flex-column">
            <label for="cnic" class="label-name"> CNIC</label>
            <input
              type="text"
              id="cnic"
              class="booking_name"
              placeholder="Enter CNIC No"
              formControlName="cnic"
            />
          </div>
          <!-- <div class="d-flex flex-column">
            <label for="event_date" class="label-name">Event Date*</label>
            <input
              type="date"
              id="event_date"
              class="booking_name"
              formControlName="eventDate"
            />
          </div> -->
        </div>

        <div class="btn-container">
          <hr />
          <div class="d-flex justify-content-end gap-5">
            <button
              (click)="prevStep()"
              class="view-btn view-btn-active back-btn"
            >
              Back
            </button>
            <button (click)="nextStep()" class="view-btn view-btn-active">
              Next
            </button>
          </div>
        </div>
      </ng-container>

      <!-- Package Detail -->
      <ng-container *ngIf="step === 3">
        <div class="d-flex justify-content-between">
          <h3 class="h3-f-t">Package Detail</h3>
          <button type="button" (click)="addMenuItem()" class="create-btn">
            Create Menu
          </button>
        </div>
        <hr />
        <div formArrayName="menuItems">
          <div
            *ngFor="let menuItem of menuItems.controls; let i = index"
            [formGroupName]="i"
            class="mb-5"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title class="fw-bold">
                    Deal {{ i + 1 }}
                  </mat-panel-title>
                  <mat-panel-description class="marriage-title">
                    PKR 27,{{ i + 354 }} <span class="span">per Guest</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="d-flex justify-content-between flex-wrap">
                  <div class="d-flex align-items-start gap-4 p-4">
                    <div class="d-flex flex-column">
                      <span
                        class="span text-capitalize d-flex gap-2 align-items-center"
                        ><img
                          src="../../../../assets/hall-booking-assets/leg-piece.png"
                          alt="image not preview"
                        />main course</span
                      >
                      <ul>
                        <li>Chicken Korma</li>
                        <li>Salad & Naan</li>
                        <li>Chicken Pulao</li>
                        <li>Roohti</li>
                      </ul>
                    </div>
                    <div class="d-flex flex-column">
                      <span
                        class="span text-capitalize d-flex gap-2 align-items-center"
                        ><img
                          src="../../../../assets/hall-booking-assets/glass.png"
                          alt="image not preview"
                        />drinks</span
                      >
                      <ul>
                        <li>Dew</li>
                        <li>Sting</li>
                      </ul>
                    </div>
                    <div class="d-flex flex-column">
                      <span
                        class="span text-capitalize d-flex gap-2 align-items-center"
                      >
                        <img
                          src="../../../../assets/hall-booking-assets/icecream.png"
                          alt="image not preview"
                        />Deserts</span
                      >
                      <ul>
                        <li>Ice Cream</li>
                      </ul>
                    </div>
                    <div class="d-flex flex-column">
                      <span
                        class="span text-capitalize d-flex gap-2 align-items-center"
                        ><img
                          src="../../../../assets/hall-booking-assets/floor-2.png"
                          alt="image not preview"
                        />
                        venders</span
                      >
                      <ul>
                        <li>DJ</li>
                        <li>Catering</li>
                      </ul>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div
                      class="d-flex flex-column justify-content-center align-items-start"
                    >
                      <div class="d-flex align-items-center gap-2">
                        <div class="d-flex counter-container">
                          <mat-icon
                            (click)="decrement(i)"
                            class="add-btn"
                            [ngStyle]="{
                              background:
                                getCounterValue(i) == 0 ? '#efefef' : ''
                            }"
                            >remove</mat-icon
                          >

                          <input
                            type="number"
                            [value]="getCounterValue(i)"
                            class="counter-input"
                            readonly
                          />

                          <mat-icon (click)="increment(i)" class="add-btn"
                            >add</mat-icon
                          >
                        </div>
                        <p class="fw-bolder m-3">Guests</p>
                      </div>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <h3 class="h3-f-t marriage-title">
                          PKR 27,{{ i + 354 }}
                        </h3>
                        <!-- <button class="create-btn m-2" type="submit">
                          Select Package
                        </button> -->
                      </div>
                    </div>
                  </div>
                  <button
                    type="button"
                    (click)="removeMenuItem(i)"
                    class="view-btn remove-btn hire-btn"
                    [matTooltip]="'Remove Item ' + (i + 1)"
                  >
                    Remove
                  </button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="btn-container2">
          <hr />
          <div class="d-flex justify-content-end gap-5">
            <button
              (click)="prevStep()"
              class="view-btn view-btn-active back-btn"
            >
              Back
            </button>
            <button (click)="nextStep()" class="view-btn view-btn-active">
              Next
            </button>
          </div>
        </div>
      </ng-container>

      <!-- Select Vendor -->
      <ng-container *ngIf="step === 4">
        <h3 class="h3-f-t">Create You Menu</h3>
        <hr />
        <div class="d-flex gap-3">
          <div class="d-flex flex-column p-3 rounded-3">
            <span class="span">Select Categories (46)</span>
            <div cdkDropListGroup class="d-flex justify-content-between">
              <div class="example-container col-xl-5 menu-border">
                <h2 class="fw-bold fst-italic">Select items</h2>

                <div
                  cdkDropList
                  [cdkDropListData]="items"
                  class="example-list"
                  cdkDropListSortingDisabled
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngIf="items.length === 0">
                    <div class="checkbox">No more items</div>
                  </div>
                  <div *ngFor="let item of items; trackBy: trackByFn" cdkDrag>
                    <div class="d-flex justify-content-between custom-box">
                      <div class="d-flex gap-3 align-items-center">
                        <img
                          src="../../../../assets/menu-categories/image-5.png"
                          alt=""
                        />
                        <div class="d-flex flex-column">
                          <span class="span">{{ item }}</span>
                          <span>Rs: 250 per head</span>
                        </div>
                      </div>
                      <img
                        src="../../../../assets/menu-categories/add-btn.png"
                        alt="cross btn"
                        class="cross-btn"
                        (click)="addSelectItem(item)"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="example-container">
                <h2 class="fw-bold fst-italic">
                  Selected Items {{ basket.length }}
                </h2>

                <div
                  cdkDropList
                  [cdkDropListData]="basket"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngIf="basket.length === 0">
                    <div class="checkbox">No Item Selected</div>
                  </div>
                  <div *ngFor="let item of basket; trackBy: trackByFn" cdkDrag>
                    <div class="d-flex justify-content-between custom-box">
                      <div class="d-flex gap-3 align-items-center">
                        <img
                          src="../../../../assets/menu-categories/image-5.png"
                          alt=""
                        />
                        <div class="d-flex flex-column">
                          <span class="span">{{ item }}</span>
                          <span>Rs: 250 per head</span>
                        </div>
                      </div>
                      <img
                        src="../../../../assets/menu-categories/cross-btn.png"
                        alt="cross btn"
                        class="cross-btn"
                        (click)="returnSelectedItem(item)"
                      />
                    </div>
                  </div>
                  <div class="d-flex custom-box">
                    <div class="d-flex gap-3 align-items-center">
                      <img
                        src="../../../../assets/menu-categories/drag and drop.png"
                        alt=""
                      />
                      <div class="d-flex flex-column">
                        <span class="fw-bold">Select Item</span>
                        <span class="span">(Drag and Drop)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-container2">
          <hr />
          <div class="d-flex justify-content-end gap-5">
            <button
              (click)="prevStep()"
              class="view-btn view-btn-active back-btn"
            >
              Back
            </button>
            <button (click)="nextStep()" class="view-btn view-btn-active">
              Next
            </button>
          </div>
        </div>
      </ng-container>

      <!-- Select Vendor -->
      <ng-container *ngIf="step === 5">
        <h3 class="h3-f-t">Select Vendor</h3>
        <hr />
        <div class="d-flex gap-3">
          <div
            class="d-flex flex-column col-xl-4 vendor-container p-3 rounded-3"
          >
            <span class="span">Select Vendar's</span>
            <div class="d-flex flex-column">
              <mat-checkbox formControlName="djChecked">
                <div class="d-flex align-items-center">
                  <img
                    src="../../../../assets/auth-icon/music-icon.png
                "
                    alt="image not preview"
                    class="sun-icon"
                  />
                  <span class="m-4">DJ</span>
                </div>
              </mat-checkbox>
              <mat-checkbox formControlName="photographerChecked">
                <div class="d-flex align-items-center">
                  <img
                    src="../../../../assets/auth-icon/camera-icon.png"
                    alt="image not preview"
                    class="sun-icon"
                  />
                  <span class="m-4">Photographer</span>
                </div>
              </mat-checkbox>
              <mat-checkbox formControlName="decorChecked">
                <div class="d-flex align-items-center">
                  <img
                    src="../../../../assets/auth-icon/decorator.png"
                    alt="image not preview"
                    class="sun-icon"
                  />
                  <span class="m-4">Decoration</span>
                </div>
              </mat-checkbox>
              <mat-checkbox formControlName="foodChecked">
                <div class="d-flex align-items-center">
                  <img
                    src="../../../../assets/hall-booking-assets/leg-piece.png"
                    alt="image not preview"
                    class="sun-icon"
                  />
                  <span class="m-4">Food</span>
                </div>
              </mat-checkbox>
            </div>
          </div>
          <button class="view-btn view-btn-active hire-btn">Hire Vander</button>
        </div>
        <div class="btn-container2">
          <hr />
          <div class="d-flex justify-content-end gap-5">
            <button
              (click)="prevStep()"
              class="view-btn view-btn-active back-btn"
            >
              Back
            </button>
            <button (click)="nextStep()" class="view-btn view-btn-active">
              Next
            </button>
          </div>
        </div>
      </ng-container>

      <!-- Booking Detail -->
      <ng-container *ngIf="step === 6">
        <h3 class="h3-f-t">Booking Details</h3>
        <hr />
        <div class="d-flex flex-column">
          <!--Hall Detail-->
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center mb-5">
              <label class="edit-label">Hall Detail</label>
              <button
                class="view-btn view-btn-active hire-btn edit-btn"
                (click)="editHall()"
              >
                Edit Hall
              </button>
            </div>
            <div class="d-flex justify-content-between flex-wrap gap-4">
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/branch.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Branch</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("customerName")?.value === ""
                    ? "- -"
                    : bookingForm.get("customerName")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/floor.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Floor</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("customerName")?.value === ""
                    ? "- -"
                    : bookingForm.get("customerName")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/text.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Hall</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("customerName")?.value === ""
                    ? "- -"
                    : bookingForm.get("customerName")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/event-date.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Event Date</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("eventDate")?.value === ""
                    ? "- -"
                    : bookingForm.get("eventDate")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/time.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Time Slot</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("eventDate")?.value === ""
                    ? "- -"
                    : bookingForm.get("eventDate")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/seating.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Seating</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("eventDate")?.value === ""
                    ? "- -"
                    : bookingForm.get("eventDate")?.value
                }}</span>
              </div>
            </div>
            <hr />
            <!--Customer Details-->
            <div class="d-flex justify-content-between align-items-center mb-5">
              <label class="edit-label">Customer Details</label>
              <button
                class="view-btn view-btn-active hire-btn edit-btn"
                (click)="editDetails()"
              >
                Edit Details
              </button>
            </div>
            <div class="d-flex justify-content-between flex-wrap gap-4">
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/text.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Customer Name</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("customerName")?.value === ""
                    ? "- -"
                    : bookingForm.get("customerName")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/email.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Email</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("userEmail")?.value === ""
                    ? "- -"
                    : bookingForm.get("userEmail")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/address.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">Address on Map</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("userAddress")?.value === ""
                    ? "- -"
                    : bookingForm.get("userAddress")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/contact-no.png"
                    alt="image not preview"
                    class="sun-icon"
                  />
                  <span class="span fst-normal">Contact No</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("contactNo")?.value === ""
                    ? "- -"
                    : bookingForm.get("contactNo")?.value
                }}</span>
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                  <img
                    src="../../../../assets/booking-details-assets/cnic.png"
                    alt="image not preview"
                  />
                  <span class="span fst-normal">CNIC</span>
                </div>
                <span class="span text-black fst-normal">{{
                  bookingForm.get("cnic")?.value === ""
                    ? "- -"
                    : bookingForm.get("cnic")?.value
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-container2">
          <hr />
          <div class="d-flex justify-content-end gap-5">
            <button
              (click)="prevStep()"
              class="view-btn view-btn-active back-btn"
            >
              Reservation
            </button>
            <button (click)="save()" class="view-btn view-btn-active">
              Book Now
            </button>
          </div>
        </div>
      </ng-container>
    </form>
    <div
      class="d-flex flex-column justify-content-center align-items-center col-xl-5 img-container__article"
    >
      <img
        src="../../../../assets/images/date-calendar.png"
        alt="date-calendar"
        class="date-calendar"
      />
      <img
        src="../../../../assets/images/men-img.png"
        alt="men-img"
        class="men-img"
      />
    </div>
  </div>
</main>
