.container-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left:0;
  }
  
  .row {
    width: 100%;
  }
  
  .col-md-6 {
    width: 50%;
  }