.col-xl-10 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-md-5 {
  padding-left: 0px !important;
}

.img-container {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.contact-input {
  padding: 10px;
  border: 1px solid #7777;
  border-radius: 8px !important;
  font-size: 15px;
  width: 450px;
}

.contact-input:focus {
  outline: none;
  border: 1px solid #006eff;
  transition: 0.4s;
}

.view-btn {
  border: 1px solid #fb6f10;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
  padding: 10px 50px;
  background-color: transparent;
  width: fit-content;
}

.view-btn:hover {
  background-color: #fb6f10;
  color: #fff;
}

.view-btn-active {
  background-color: #fb6f10;
  color: #fff;
}

.h5-f-t {
  color: #fb6f10;
  font-family: "Poppins";
  font-weight: 700;
  padding-top: 5px;
  font-size: 18px;
}

.primary-container {
  width: fit-content !important;
}

@media (max-width: 950px) {
  .contact-input {
    width: auto !important;
  }

  .primary-container {
    display: flex;
    justify-content: center;
    width: fit-content !important;
  }
}
