// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalettePri: (
  50 : #ffeee2,
  100 : #fed4b7,
  200 : #fdb788,
  300 : #fc9a58,
  400 : #fc8534,
  500 : #fb6f10,
  600 : #fa670e,
  700 : #fa5c0c,
  800 : #f95209,
  900 : #f84005,
  A100 : #ffffff,
  A200 : #fff0ec,
  A400 : #ffc7b9,
  A700 : #ffb2a0,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpaletteSec: (
  50 : #fdfefe,
  100 : #f9fcfb,
  200 : #f5faf9,
  300 : #f1f7f7,
  400 : #eef6f5,
  500 : #ebf4f3,
  600 : #e9f3f1,
  700 : #e5f1ef,
  800 : #e2efed,
  900 : #ddecea,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpaletteAcc: (
  50: #f5f7f8,
  100: #e7ebef,
  200: #d7dde4,
  300: #c7cfd9,
  400: #bbc5d0,
  500: #afbbc8,
  600: #a8b5c2,
  700: #9facbb,
  800: #96a4b4,
  900: #8696a7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d1e7ff,
  A700: #b8d9ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Asced-primary: mat.define-palette($md-mcgpalettePri);
$Asced-accent: mat.define-palette($md-mcgpaletteSec);

// The warn palette is optional (defaults to red).
$Asced-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Asced-theme: mat.define-light-theme((color: (primary: $Asced-primary,
        accent: $Asced-accent,
        warn: $Asced-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Asced-theme);

/* You can add global styles to this file, and also import other style files */


/* For use in src/lib/core/theming/_palette.scss */