<main class="container d-flex justify-content-center">
  <div
    class="d-flex flex-wrap gap-3 bg-light rounded-4 col-xl-10 primary-container"
  >
    <div class="col-md-5">
      <img
        src="../../../assets/images/contact-us.png"
        alt="image not preview"
        class="img-container"
      />
    </div>
    <div class="d-flex flex-column p-5 gap-5">
      <h3 class="h3-f-t fw-bold fs-1">Contact Us</h3>
      <span class="text-black-50"
        >Hey! Leave a message and we'll get back to you ASAP.</span
      >
      <form class="d-flex flex-column gap-3 bg-light">
        <div class="input-group">
          <label for="name">Your Name*</label>
          <input
            type="text"
            id="name"
            class="contact-input"
            placeholder="Enter your full name"
          />
        </div>
        <div class="input-group">
          <label for="contact-no">Contact number*</label>
          <input
            type="text"
            id="contact-no"
            placeholder="Enter your full name"
            class="contact-input"
          />
        </div>
        <div class="input-group">
          <label for="massage">Message*</label>
          <textarea
            name=""
            id="massage"
            cols="30"
            rows="5"
            class="contact-input"
            placeholder="Do you have any question?"
          ></textarea>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span class="text-black-50">You may also contact us at:</span>
            <h5 class="h5-f-t">+92312-6164111</h5>
          </div>
          <button type="submit" class="view-btn view-btn-active">Send</button>
        </div>
      </form>
    </div>
  </div>
</main>
