<main class="container">
  <div class="d-flex flex-column">
    <div
      class="d-flex flex-column justify-content-center align-items-center mb-5 pb-4"
    >
      <h3 class="h3-f-t">FAQ's</h3>
      <p class="col-md-5 text-center lh-base fw-medium text-black-50">
        Lorem ipsum dolor sit amet consectetur adipiscing elit sed doeiusm
        tempor incididunt
      </p>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-5 gap-5">
      <div>
        <img
          src="../../../assets/images/faq-img.png"
          alt="image not preview"
          class="men-img"
          data-aos="flip-up"
        />
      </div>
      <div>
        <div class="accordion" id="accordionExample">
          <div
            class="card p-3"
            *ngFor="let data of expansionDetail; let i = index"
            [ngStyle]="{ background: isPanelOpen(i) ? '#F2EBFD' : '' }"
          >
            <div
              class="card-header bg-transparent border-0"
              [id]="'heading' + data.id"
            >
              <h5 class="mb-0">
                <button
                  class="btn-custom d-flex align-items-baseline"
                  type="button"
                  (click)="togglePanel(i)"
                  [attr.aria-expanded]="isPanelOpen(i) ? 'true' : 'false'"
                  [attr.aria-controls]="'collapse' + data.id"
                >
                  <div class="d-flex gap-3">
                    <span class="float-left mr-3 span">0{{ i + 1 }}</span>
                    <div class="title-box">{{ data.title }}</div>
                  </div>
                  <div class="mat-icon__btn">
                    <mat-icon
                      class="icon plus-btn bg-transparent text-black"
                      *ngIf="!isPanelOpen(i)"
                      >add</mat-icon
                    >
                    <mat-icon class="icon cross-btn" *ngIf="isPanelOpen(i)"
                      >clear</mat-icon
                    >
                  </div>
                </button>
              </h5>
            </div>

            <div
              [id]="'collapse' + data.id"
              class="collapse"
              [ngClass]="{ show: isPanelOpen(i) }"
              [attr.aria-labelledby]="'heading' + data.id"
            >
              <div class="card-body lh-base">{{ data.description }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div></div>
      <div></div>
    </div>
    <div>
      <app-check-out></app-check-out>
    </div>
  </div>
</main>
