.cards {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}

agm-map {
  height: 300px;
}

.card-container {
  display: flex;
  border-radius: 30px !important;
  justify-content: space-between;
  border: none;
  box-shadow: 0 0px 60px rgba(129, 124, 124, 0.2);
}
// .image-container {
//   max-width: 100%;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .image-container img {
//   width: 100%;
//   height: 15vh;
// }
.image-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 15vh;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 57%;
  background: #780548;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-overlay .card {
  top: 30%;
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 172px;
  right: 330px;
  gap: 0px;
  opacity: 0px;
}

.color-overlay .card img {
  max-width: 100%;
  height: auto;
  display: block;
}
#chartContainer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.myChart {
  height: 70% !important;
  width: 100% !important;
}

// .header {
//   height: 170px;
//   // margin-left:-35px;
//   // padding-left:0px;
//   // margin-bottom: 30px !important;
// }

.card1 {
  margin-top: 30%;
  height: 80%;
  // width: calc(100% / 6);
  width: 90%;
  border: none;
  box-shadow: 0 15px 60px rgba(129, 124, 124, 0.2);
  border-radius: 6px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.745);
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 3p;
  margin-left: 2%;
}
.card {
  box-shadow: 0 15px 60px rgba(129, 124, 124, 0.2);
  height: 100% !important;
}
.chartcanvas {
  height: 100% !important;
  width: 100% !important;
}
// @media (min-width: 768px) and (max-width: 1023px) {
//   .card1 {
//     // margin-top: 30%;
//     // height: 158px;
//     // width: 204px;
//     // box-shadow: 0 15px 60px rgba(129, 124, 124, 0.2);
//     // border-radius: 5px;
//     // backdrop-filter: blur(5px);
//     // background-color: rgba(255, 255, 255, 0.745);
//     // gap: 10px;
//     // margin-left: 5%;
//   }
// }
