<div class="header">
  <div class="nav">
    <div class="header-block">
      <div class="userprofile">
        <div>
          <label class="title-label">{{ getTitle() }}</label>
        </div>
        <div class="app-header-right" style="text-align: right">
          <div class="header-btn-lg pr-0">
            <div class="widget-content p-0">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="d-flex justify-content-end">
                    <div class="search-container mr-20">
                      <input
                        class="form-control me-2"
                        style="border-radius: 30px; background-color: #718ebf40"
                        type="search"
                        placeholder="Search for Something"
                        aria-label="Search"
                      />
                    </div>
                    <div class="ml-3 mx-2 d-flex align-items-center mr-20">
                      <div class="icon-circle">
                        <i class="fas fa-gear"></i>
                      </div>
                      <div class="icon-circle ml-2 mx-3">
                        <i class="fas fa-bell"></i>
                      </div>
                    </div>

                    <div class="widget-content-right ml-3 mr-20">
                      <div class="user">
                        <img src="assets/img.avif" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
