<div class="container mt-5">
  <div class="d-flex align-items-center m-5" style="margin-top: 100px">
    <h1
      class="text-black flex-grow-1 mb-0 fs-18 fw-700 "
    >
      Add Menu
    </h1>
    <div class="ml-auto">
      <button
        class="custom-button"
      >
        Save
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col">
            <label for="branchName" class="menu">Item Name</label>
            <input type="text" class="form-control" placeholder="First name" />
          </div>
          <div class="col">
            <label for="branchId" class="menu">Item Price per Head</label>
            <input type="text" class="form-control" placeholder="200" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="branchName" class="menu">Select Category</label>
            <select
              class="form-select form-select-lg"
              aria-label=".form-select-lg example"
            >
              <option selected>Select Floor</option>
              <option value="1">Floor 01</option>
              <option value="2">Floor 02</option>
              <option value="3">Floor 03</option>
            </select>
          </div>
          <div class="col">
            <label for="branchId" class="menu">Branch Name</label>
            <select
              class="form-select form-select-lg"
              aria-label=".form-select-lg example"
            >
              <option selected>Select Branch</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="br-decription" class="menu">Description</label>
            <textarea
              class="form-control"
              id="inputDescription"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center gap-3 mx-2 mt-2">
        <label for="branchName" class="images-slider mt-5">Add Thumbnail Image</label>
        <label for="branchName" class="images-slider mx-3 mt-5">Menu Images</label></div></div>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center gap-3 mx-5 mt-2">
  
      <div class="d-flex align-items-center gap-3 mx-10 mt-2 image-container"> 
        <div *ngFor="let image of uploadedthumbnail" class="chip-img">
          <img [src]="image.url"   width="200"
          height="180"
          class="object-fit-fill" />
          <span class="close" (click)="removeThumbnail(image)">
            <img src="../../../../assets/icon/cross-btn.png" alt=""  />
          </span>
        </div>
         <div *ngIf="uploadedthumbnail.length === 0">
          <label for="thumbnail-upload" class="custom-file-upload">
            <input
              id="thumbnail-upload"
              type="file"
              (change)="onThumbnailSelected($event)"
              accept="image/*"
              multiple
            />
            <span class="material-symbols-outlined"> add_circle </span>
          </label>
        </div>
      </div>
    <div class="d-flex align-items-center gap-3 mt-1">
      <div *ngFor="let image of uploadedImages" class="chip">
        <img
          [src]="image.url"
          width="100"
          height="100"
          class="object-fit-fill"
        />
        <span class="close" (click)="removeImage(image)"
          ><img src="../../../../assets/icon/cross-btn.png" alt=""
        /></span>
      </div>

      <div>
        <label for="file-upload" class="custom-thumbnail-upload">
          <input
            id="file-upload"
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
            multiple
          />
          <span class="material-symbols-outlined"> add_circle </span>
        </label>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
