.primary-container {
  padding-top: 7rem !important;
  padding-bottom: 5rem !important;
  border-bottom: 1px solid #777777;
}

.bg-color {
  background-color: #fb6f10;
  color: #fff;
  padding: 30px 10px;
  border-radius: 10px !important;
  margin-bottom: 30px !important;
}

.view-btn {
  padding: 10px 20px !important;
  border-radius: 20px !important;
  background-color: #fff;
  color: #fb6f10;
  border: none !important;
  font-weight: 600;
}

.h4-f-t {
  border-bottom: 1px solid #fb6f10 !important;
  padding-bottom: 2px;
  font-weight: 500;
  margin-bottom: 20px !important;
}

a,
li {
  display: block;
  padding: 5px 0px;
  text-decoration: none !important;
  color: #272727 !important;
  //   width: 550px;
  width: max-content !important;
}

hr {
  border-top: 1px solid #777777 !important;
}

@media (max-width: 880px) {
  li {
    width: max-content !important;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
