<main
  class="container mt-4 d-flex flex-column justify-content-center align-items-center gap-4 primary-container"
>
  <div
    class="bg-color col-xxl-8 d-flex flex-column justify-content-center align-items-center"
  >
    <h3 class="fw-bold text-center">
      Find the talent needed to arrange your wedding
    </h3>
    <button class="view-btn">Get Started</button>
  </div>
  <div class="d-flex flex-column justify-content-between align-items-center">
    <h4 class="h4-f-t">Also Check Out...</h4>
    <div class="d-flex justify-content-between gap-2 flex-wrap">
      <div class="col-xl-3">
        <ul class="footer-links">
          <li class=""><a href="#">Best Marriage Hall in Pakistan</a></li>
          <li>
            <a href="#">Best Marquee in Islamabad</a>
          </li>
          <li>
            <a href="#">Marriage Halls in Rawalpindi</a>
          </li>
          <li>
            <a href="#">Wedding Halls in Lahore</a>
          </li>
          <li><a href="#">Mehndi Designers in Pakistan</a></li>
          <li>
            <a href="#">Bridal Mehndi Artist in Islamabad</a>
          </li>
        </ul>
      </div>
      <!-- <hr class="vr" /> -->
      <div class="col-xl-3">
        <ul class="footer-links">
          <li class=""><a href="#">Wedding photography packages</a></li>
          <li>
            <a href="#">Female Photographer in Islamabad</a>
          </li>
          <li>
            <a href="#">Female Photographers in Rawalpindi</a>
          </li>
          <li>
            <a href="#">Top Wedding Photographers in Lahore</a>
          </li>
          <li><a href="#">Best Mehndi Artists in Rawalpindi</a></li>
          <li>
            <a href="#">Bridal Mehndi artist in Lahore</a>
          </li>
        </ul>
      </div>

      <div class="col-xl-3">
        <ul class="footer-links">
          <li class=""><a href="#">Event Planners in Pakistan</a></li>
          <li>
            <a href="#">Event Planners in Islamabad</a>
          </li>
          <li>
            <a href="#">Event Planners in Rawalpindi</a>
          </li>
          <li>
            <a href="#">Event Planners in Lahore</a>
          </li>
          <li><a href="#">Best Catering Services in Rawalpindi</a></li>
          <li>
            <a href="#">Best Catering Services in Lahore</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
