<main class="main" data-aos="fade-up" data-aos-anchor-placement="top-center">
  <div class="d-flex justify-content-end flex-wrap gap-5 m-5">
    <div class="img-overlay">
      <img
        src="../../../assets/images/image 20.png"
        alt=""
        class="img-overlay-2 img-over"
      />
    </div>
    <div class="d-flex flex-column col-xl-5">
      <span class="span text-capitalize mb-3">welcome to</span>
      <h3 class="h3-f-t mb-3">
        We are sharing everything with you forever we are creative for flawless
        execution, wedCo takes pride event.
      </h3>
      <p class="paragraph mb-5 descritpion">
        Being so deeply involved in the wedding planner, developed a reputation
        for our insightful & detailed knowledge of the industry which often
        results in excellent media exposure for our members!
      </p>
      <div class="d-flex gap-4 mb-3">
        <div class="d-flex flex-column">
          <h3 class="h3-f-t fs-1-t">56</h3>
          <p class="paragraph">Countries Covered</p>
        </div>
        <span class="span-line"></span>
        <div>
          <h3 class="h3-f-t fs-1-t">2K+</h3>
          <p class="paragraph">Project Completed</p>
        </div>
      </div>
      <button class="view-btn">Contact Us</button>
    </div>
    <div>
      <img
        src="../../assets/images/about us-img.png"
        alt="image not preview"
        class="about-us__img"
      />
    </div>
  </div>
</main>
<div>
  <img
    src="../../assets/about-us-img/about-us--image.png"
    alt="Image not preview"
    class="about-us__image"
  />
</div>
<article class="bg-color">
  <div class="container-lg d-flex flex-wrap">
    <div class="d-flex flex-column gap-3 col-xl-5">
      <div class="p-marriage-title">
        Grow Your
        <span class="marriage-title">Business!</span>
      </div>
      <p class="col-xl-8">
        Showcase your business like never before and unlock its full potential
        with our platform, today
      </p>
      <div class="icon-container">
        <img
          src="../../assets/about-us-img/about-us--1.png"
          alt="Image not preview"
          class="icon-size"
        />
        <img
          src="../../assets/about-us-img/about-us--2.png"
          alt="Image not preview"
          class="icon-size"
        />
        <img
          src="../../assets/about-us-img/about-us--3.png"
          alt="Image not preview"
          class="icon-size"
        />
        <img
          src="../../assets/about-us-img/about-us--4.png"
          alt="Image not preview"
          class="icon-size"
        />
        <img
          src="../../assets/about-us-img/about-us--5.png"
          alt="Image not preview"
          class="icon-size"
        />
        <img
          src="../../assets/about-us-img/about-us--6.png"
          alt="Image not preview"
          class="icon-size"
        />
      </div>
    </div>
    <div
      class="d-flex flex-column gap-3 col-xl-5 bg-light p-5 rounded-3 image-container"
      data-aos="fade-up"
    >
      <span class="span text-capitalize">why choose us</span>
      <h3 class="h3-f-t fw-bolder text-capitalize">
        Changemakers who understand your organizing pains better than Panadol
        and have curated the perfect solution for you.
      </h3>
      <p>
        Being so deeply involved in the wedding planner, developed a reputation
        for our insightful & detailed knowledge of the industry which often
        results.
      </p>
      <img
        src="../../assets/about-us-img/laptop-icon.png"
        alt="Image Not Preview"
        class="laptop-img"
        data-aos="fade-up-right"
        data-aos-duration="3000"
      />
    </div>
  </div>
</article>

<div>
  <app-check-out></app-check-out>
</div>
